.scrollbar {
  overflow-x: auto;
  visibility: hidden;
  transition-property: visibility;
  transition-duration: 0s;
}

.scrollbar-content,
.scrollbar:hover,
.scrollbar:focus {
  visibility: visible;
}

.scrollbar_delayed {
  transition: visibility 0.2s;
}

.scrollbar_delayed:hover {
  transition: visibility 0s 0.2s;
}